#cesta-carrito {

  color: #ff6961;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}
  
#cesta-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(225, 76, 65);
}
  
#cesta-carrito:focus {
  outline: none;
}
  
#producto-contenedor {
  display: grid;
  gap: 1rem;
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  
.pepe {
  line-height: 1.8;
}
  
.card {
  max-width: 30%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
  
select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}
  
.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
  
.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
  
.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
  
.modal-active .modal-carrito {
  margin-top: 200px;
}
  
.modal-carrito h3 {
  color: #da85da;
  padding-bottom: 10px;
}
  
.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #da85da !important;
  border: none;
  background-color: white;
}
  
.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}
  
.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}
  
.modal-carrito .producto-precio {
  padding-top: 10px;
}
  
.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset
}
  
.articuloCarrito {
  border-left: 5px solid #da85da;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
  
.ArticuloCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}
  
.boton-eliminar {
  background-color: white;
  color: #ff6961;
  border: none;
  font-size: 20px;
}
  
.boton-eliminar:hover {
  cursor: pointer;
}
  
.boton-eliminar:focus {
  outline: none;
}

#boton-carrito {
  border: none;
  color:#da85da;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}
#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: #da85da;
}
#boton-carrito:focus {
  outline: none;
}