/*variables*/
@import url(https://fonts.googleapis.com/css2?family=Signika&family=Kanit:wght@300&display=swapfamily=Fredericka+the+Great&display=swap);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/*Colores*/
/*spacings*/
/*font-family*/
/*font-sizes*/
/*Normalize*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

hmtl {
  font-size: 62.5%; }

body {
  background-color: #f4f4f8;
  font-family: "kanit", sans-serif; }

/*Mixins*/
/*Header*/
/*head*/
.superior {
  background-color: aquamarine;
  height: 20px;
  display: flex;
  flex-wrap: none;
  flex-direction: none;
  align-items: none;
  justify-content: space-around; }

.logohead {
  background-color: #eab8e3;
  width: 2fr; }
  .logohead img {
    width: 360px;
    height: 80px; }

.navbar {
  background-color: #eab8e3;
  margin-top: 5px; }

.presentacion {
  margin-top: 200px; }
  .presentacion h1 {
    font-size: 1.6em;
    font-family: "kanit", sans-serif;
    color: #c5c6c8;
    text-align: center; }
  .presentacion p {
    font-size: 1.4em;
    font-family: "kanit", sans-serif;
    color: #c5c6c8;
    text-align: center; }

/*home*/
/*Nosotras*/
.comocomprar {
  margin-top: 200px;
  font-family: "kanit", sans-serif;
  font-size: 1.6em;
  text-align: center; }

/*carusel*/
#carousel {
  margin-top: 100px; }

/*Menucard*/
.menucard {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: none;
  align-items: none;
  justify-content: space-around; }
  .menucardcardx {
    flex: 25%;
    padding: 5px; }

#cesta-carrito {
  border: none;
  color: #e14c41;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s; }
  #cesta-carritohover {
    cursor: pointer;
    color: white;
    background-color: #e14c41; }
  #cesta-carritofocus {
    outline: none; }

#producto-contenedor {
  display: grid;
  gap: 1rem;
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3); }

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: #e14c41;
  padding-bottom: 5px; }

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #e14c41 !important;
  border: none;
  background-color: white; }

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer; }

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none; }

.modal-carrito .producto-precio {
  padding-top: 10px; }

.card .card-image .card-title {
  color: #e14c41;
  position: unset; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }
  .productoEnCarritohover {
    border-left: 5px solid #e14c41; }

.boton-eliminar {
  background-color: white;
  color: #ff6961;
  border: none;
  font-size: 20px; }
  .boton-eliminarhover {
    cursor: pointer; }
  .boton-eliminarfocus {
    outline: none; }

/*productos*/
.productos {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  grid-template-rows: repeat(100px, auto);
  grid-auto-rows: none;
  grid-auto-flow: dense;
  gap: 2rem;
  padding: 20px; }

.sugerencias {
  margin-top: 100px; }

.compras {
  background-color: #e5d4de;
  margin-top: 200px; }

.compras__boos {
  margin-top: 200px;
  display: flex;
  flex-wrap: none;
  flex-direction: none;
  align-items: none;
  justify-content: space-around; }

/*Footer*/
.instagram {
  background-color: #e5d4de; }

.pagos {
  background-color: #e5d4de;
  padding: 10px;
  margin-top: 10px; }
  .pagos img {
    width: 45px;
    height: 50px; }

.footer {
  margin-top: 20px;
  background-color: #da85af; }

/*medias*/
@media screen and (max-width: 1000px) {
  .compras__boos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: none;
    grid-auto-flow: none;
    gap: 2rem; } }

@media screen and (max-width: 860px) {
  .menucard {
    padding: 5px;
    display: flex;
    flex-wrap: none;
    flex-direction: none;
    align-items: none;
    justify-content: space-around; } }

@media screen and (max-width: 780px) {
  .gallery {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    align-items: none;
    justify-content: none; } }

@media screen and (max-width: 720px) {
  .logo__img {
    width: 50px;
    height: 50px; }
  .compras__boos {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    align-items: center;
    justify-content: none; } }

@media screen and (max-width: 580px) {
  .logohead img {
    width: 260px;
    height: 60px; } }

@media screen and (max-width: 480px) {
  .logohead img {
    width: 180px;
    height: 40px; }
  .productos {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    align-items: center;
    justify-content: none; } }
