
@import url(https://fonts.googleapis.com/css2?family=Signika&family=Kanit:wght@300&display=swapfamily=Fredericka+the+Great&display=swap);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/*Colores*/
  
  $--primary: #eab8e3;
  $--secondary: #f4f4f8;
  $--terteary: #da85af;
  $--quaternary: #c3b9e3;
  $--alternative: #e5d4de;
  $--text-color: #c5c6c8;
  /*spacings*/
  $--spacing-large: 6rem;
  $--spacing-medium: 2.4rem;
  $--spacing-small: 2rem;
  $--spacing-xsmall: 1rem;
  /*font-family*/
  $--font-principal: 'kanit', sans-serif;
  $--font-title: 'Fredericka', cursive;
  /*font-sizes*/
  $--text-large: 5.2em;
  $--text-medium: 2.2em;
  $--text-base: 1.6em;
  $--text-small: 1.4em;
  /*font*/
