/*Nosotras*/
.comocomprar {
    margin-top: 200px;
    font-family: $--font-principal;
    font-size: $--text-base;
    text-align: center;
}

/*carusel*/
#carousel {
    margin-top: 100px;
}

/*Menucard*/
.menucard {
    padding: 5px;
    @include flex (wrap, none, none, space-around);
    &cardx {
        flex: 25%;
        padding: 5px;
    }
}
/*productos javascript*/
#producto-contenedor {
    
    margin: 90px auto;
    @include flex (wrap, none, none, space-evenly);
}
.card .card-image .card-title {
    color: $--terteary;
    position: unset;
}
.card {
    margin:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
}


/*productos*/
.productos {
    margin-top: 200px;
    @include grid (repeat(auto-fill, minmax(220px, auto)), repeat(100px, auto), none, dense);
    gap: $--spacing-small;
    padding: 20px;
    }



    .sugerencias {
        margin-top: 100px;

    }

    .compras {
        background-color:$--alternative;
        margin-top: 200px;

    }

    .compras__boos {
        margin-top: 200px;
        @include flex (none, none, none, space-around)
    }





/* Modal */
.modal-container {
    @include flex(none, none, center, center);
    position: fixed; 
    background-color: transparent;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    transition: opacity 0.3s ease;
    border-radius: 10px ;
    z-index: 100;
}

/* hacer visible el modal  */
.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito{
    width: 30rem;
    height: 10rem;
    background-color: $--terteary;
}

.productoEnCarrito {
    border-left: 5px solid $--terteary;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    @include flex(none, none, none, space-between);
}
.boton-eliminar {
    background-color: white;
    color: lightblue;
    border: none;
    font-size: 20px;
}
