/*Nosotras*/
.comocomprar {
    margin-top: 200px;
    font-family: $--font-principal;
    font-size: $--text-base;
    text-align: center;
}

/*carusel*/
#carousel {
    margin-top: 100px;
}

/*Menucard*/
.menucard {
    padding: 5px;
    @include flex (wrap, none, none, space-around);
    &cardx {
        flex: 25%;
        padding: 5px;
    }
}


/*productos*/
.productos {
    margin-top: 200px;
    @include grid (repeat(auto-fill, minmax(220px, auto)), repeat(100px, auto), none, dense);
    gap: 2rem;
    padding: 20px;
    }

    .flip-card {
        
        background-color: transparent;
        width: 250px;
        height: 300px;
        perspective: 1000px;

        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;

        }

        &:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        &-front,
        &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 16px;
        }

        &-front {
            background-image: linear-gradient(45deg, #6f04d9, #8a045c);
        }

        &-front img {
            width: 200px;
            margin-top: 1rem;
        }

        &-back {
            background-image: linear-gradient(315deg, #6f04d9, #8a045c);
            color: #ffffff;
            transform: rotateY(180deg);
        }

        &-back img {
            width: 140px;
            margin-top: 1rem;
        }

        &-back h3 {
            margin-bottom: 0.3rem;
        }

        &-back h2 {
            margin: 0;
        }
    }


    .sugerencias {
        margin-top: 100px;

    }

    .compras {
        background-color:$--alternative;
        margin-top: 200px;

    }

    .compras__boos {
        margin-top: 200px;
        @include flex (none, none, none, space-around)
    }