/*Nosotras*/
.comocomprar {
    margin-top: 200px;
    font-family: $--font-principal;
    font-size: $--text-base;
    text-align: center;
}

/*carusel*/
#carousel {
    margin-top: 100px;
}

/*Menucard*/
.menucard {
    padding: 5px;
    @include flex (wrap, none, none, space-around);
    &cardx {
        flex: 25%;
        padding: 5px;
    }
}

/*productos*/
.productos {
    margin-top: 200px;
    @include grid (repeat(auto-fill, minmax(220px, auto)), repeat(100px, auto), none, dense);
    gap: $--spacing-small;
    padding: 20px;
}


.sugerencias {
    margin-top: 100px;

}
.compras {
    background-color:$--alternative;
    margin-top: 150px;
}
.compras__boos {
    margin-top: 200px;
    @include flex (none, none, none, space-around)
}





