@media screen and (max-width: 1000px) {
    .compras__boos {
        @include grid (repeat(2, 1fr), repeat(1, 1fr), none, none);
        gap: $--spacing-small;
    }


}

@media screen and (max-width:860px) {
    .menucard {
        padding: 5px;
        @include flex(none, none, none, space-around)
    }


}

@media screen and (max-width: 780px) {
    .gallery {
        @include flex(none, column, none, none)
    }
}

@media screen and (max-width: 720px) {
    .logo__img {
        width: 50px;
        height: 50px;
    }

    .compras__boos {
        @include flex (none, column, center, none)
    }

}

@media screen and (max-width: 580px) {
    .logohead img {
        width:260px ;
        height: 60px;
        
    }

    


}

@media screen and (max-width:480px) {
    .logohead img {
        width: 180px;
        height: 40px;
    }

    .productos {
        @include flex( none, column, center, none)
    }
}